.contact {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: #828282;
  &__container {
    width: 85%;
    display: flex;
    justify-content: center;
    // align-items: flex-end;
    flex-direction: row;
    margin: 0 auto;
    &-info {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      & p {
        font-size: 20px;
        font-family: "Open Sans", sans-serif;
      }
      &-map {
        // background: red;
        display: flex;
        align-items: center;
        margin-left: 5px;
        &-planet {
          margin-right: 15px;
          //   &:hover {
          //     transform: scale(1.2);
          //   }
        }
      }
      &-mail {
        // background: red;
        display: flex;
        align-items: center;
        margin-left: 5px;
        &-gmail {
          margin-right: 15px;
          //   &:hover {
          //     transform: scale(1.2);
          //   }
        }
      }
    }
    &-formRegister {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      & h1 {
        font-family: "Open Sans", sans-serif;
        text-shadow: 2px 2px 2px black;
      }
      & p {
        font-family: "Open Sans", sans-serif;
      }

      & label {
        font-family: "Open Sans", sans-serif;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        border: thin solid #dedede;
        border-radius: 0.25rem;
        padding: 0.75rem;
        margin-bottom: 1rem;
        outline: none;
        display: block;
        width: 100%;
        font-size: 1rem;
        line-height: 1;
        // background-color: transparent;
        font-family: "Open Sans", sans-serif;
      }
      & textarea {
        width: 450px;
        height: 250px;
        font-family: "Open Sans", sans-serif;
        resize: none;
        // background-color: transparent;
      }
      &-submit {
        display: flex;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
      }
    }
    // & input {
    //   width: 300px;
    // }
  }
}
